@import '~@angular/material/theming';

$tm-blue: (
    50: #e2f5fd,
    100: #b7e6f9,
    200: #8ad6f5,
    300: #61c6f0,
    400: #49b9ed,
    500: #3BAEEA,
    600: #369fdb,
    700: #2f8cc8,
    800: #2b7bb3,
    900: #225b91,
    A100: #fdccd5,
    A200: #ee989f,
    A400: #ef4d5a,
    A700: #d4243a,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $dark-primary-text,
      A400: $light-primary-text,
      A700: $light-primary-text,
    )
  );
  
  $tm-gray: (
    50: #ffffff,
    100: #fafafa,
    200: #f5f5f5,
    300: #f0f0f0,
    400: #dedede,
    500: #c2c2c2,
    600: #979797,
    700: #818181,
    800: #606060,
    900: #3c3c3c,
    A100: #eeeeee,
    A200: #ddd,
    A400: #bbb,
    A700: #888,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $dark-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $dark-primary-text,
      A400: $dark-primary-text,
      A700: $light-primary-text,
    )
  );

  $b2b-blue: (
    50: #e8eaee,
    100: #c3cad6,
    200: #9ea8ba,
    300: #7a879d,
    400: #5e6d8a,
    500: #43557a,
    600: #3c4e71,
    700: #344466,
    800: #2e3b59,
    900: #242b40,
    A100: #b6dbec,
    A200: #96bfd4,
    A400: #74a4bc,
    A700: #215970,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $dark-primary-text,
      A400: $dark-primary-text,
      A700: $light-primary-text,
    )
  );

  $b2b-red: (
    50: #feebef,
    100: #fdccd5,
    200: #ee989f,
    300: #e4707a,
    400: #ef4d5a,
    500: #f63842,
    600: #e62e40,
    700: #d4243a,
    800: #c71c32,
    900: #b80927,
    A100: #fdccd5,
    A200: #ee989f,
    A400: #ef4d5a,
    A700: #d4243a,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $dark-primary-text,
      A400: $dark-primary-text,
      A700: $light-primary-text,
    )
  );

  $b2b-gray: (
    50: #f9fafd,
    100: #f4f5f8,
    200: #edeef1,
    300: #dfe0e3,
    400: #bcbdc0,
    500: #9d9ea1,
    600: #747578,
    700: #606164,
    800: #414244,
    900: #202123,
    A100: #eeeeee,
    A200: #ddd,
    A400: #bbb,
    A700: #888,
    contrast: (
      50: $dark-primary-text,
      100: $dark-primary-text,
      200: $dark-primary-text,
      300: $dark-primary-text,
      400: $dark-primary-text,
      500: $light-primary-text,
      600: $light-primary-text,
      700: $light-primary-text,
      800: $light-primary-text,
      900: $light-primary-text,
      A100: $dark-primary-text,
      A200: $dark-primary-text,
      A400: $dark-primary-text,
      A700: $light-primary-text,
    )
  );

$primary: mat-palette($b2b-blue, 800, 400, 900);
$accent: mat-palette($b2b-gray, 600, 50, 900);
$warn: mat-palette($b2b-red, 600, 50, 900);


